
/*cor e fonte do corpo da página*/
body{

    background-color: rgb(255, 247, 251);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #070707;
}

/*cor e tamanho do h1*/

h1{text-align: center;
    background-color: rgb(239, 37, 246);
     color: white;
     padding: 30px;
     margin: 0;
}

/* Navegação */
nav ul {
    display: flex;
    justify-content: center;
    background-color: rgb(233, 43, 240);
    padding: 10px 0;
}

nav ul li {
    list-style: none;
    margin: 0 50px;
}

nav ul li a{
    text-decoration: none;
    color:rgb(163, 1, 126);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sobre h2 {
    background-color: rgb(245, 162, 239);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
}

#formacao h2 {
    background-color: rgb(245, 162, 239);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
}

#contato {
    background-color: rgb(233, 43, 240);
    text-align: center;
    font-family: fantasy;
    text-shadow: #070707;

}

p{
    text-align: center;
}

img{
    position: relative;
     left: 33%;
}